<nav class="navbar bg-danger" data-bs-theme="dark">
  <div class="container-fluid linea">
    <a class="navbar-brand" href=""><img src="../../../../assets/logokfc.png" alt="logokfc" style="width: 40px;"></a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/auth/login" >Mi cuenta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin">Admin</a>
      </li>
    </ul>
    <ion-icon name="cart-outline" size="large" id="carrito" routerLink="/compra/carrito"></ion-icon>
  </div>
</nav>