<ion-content [fullscreen]="true">

    <div class="container-flex mx-4 logincont">
      <div class="text-center aling-items-center">
        <h1 class="">Iniciar Sesión</h1>
      </div>
      <div class="form-group">
        <label class="col-form-label mt-4 texto" for="inputDefault">Usuario:</label>
        <input type="text" class="form-control texto" placeholder="Ingrese su usuario" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label mt-4 texto" for="inputDefault">Contraseña:</label>
        <input type="text" class="form-control texto" placeholder="Ingrese su contraseña" id="inputDefault">
      </div>
    </div>




</ion-content>
