
<ion-content [fullscreen]="true">
  <app-navbar></app-navbar>
    <div class="container-flex mx-4 logincont">
      <div class="text-center aling-items-center">
        <h1 class="">Iniciar Sesión</h1>
      </div>
      <!-- FORM -->
      <form [formGroup]="form">
        <div class="form-group">
          <!-- usuario -->
          <label class="col-form-label mt-3 texto" for="inputDefault">Usuario:</label>
          <input formControlName="email" type="email" class="form-control texto" placeholder="Ingrese su usuario">
          <!-- contraseña -->
          <label class="col-form-label mt-3 texto" for="inputDefault">Contraseña:</label>
          <input formControlName="password" type="password" class="form-control texto" placeholder="Ingrese su contraseña">
        </div>
        <div class="text-end mt-2">
          <a href="">No tienes una cuenta?</a>
        </div>
        <div class="contboton aling-items-center text-center mt-3">
          <button type="button" class="btn btn-primary" (click)="ingresar()">Iniciar sesión</button>
        </div>
      </form>
    </div>
<!-- {{ form.value.email }}
{{ form.value.password }} -->

</ion-content>
