<ion-content [fullscreen]="true">

    <div class="container-flex mx-4 logincont">
      <div class="text-center aling-items-center">
        <h1 class="">Iniciar Sesión</h1>
      </div>
      <div class="form-group">
        <label class="col-form-label mt-3 texto" for="inputDefault">Usuario:</label>
        <input type="text" class="form-control texto" placeholder="Ingrese su usuario" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label mt-3 texto" for="inputDefault">Contraseña:</label>
        <input type="text" class="form-control texto" placeholder="Ingrese su contraseña" id="inputDefault">
      </div>
      <div class="text-end mt-2">
        <a href="">Olvidaste tu contraseña?</a>
      </div>
      <div class="contboton aling-items-center text-center mt-3">
        <button type="button" class="btn btn-primary">Iniciar sesión</button>
      </div>
    </div>

</ion-content>
